openapi: 3.0.0
info:
  title: Notification API
  version: 1.0.0
  description: API for sending and managing notifications (email, SMS, push)

servers:
  - url: https://api.notification-service.com/v1

paths:
  /notifications:
    post:
      summary: Send a notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
            example:
              type: email
              to: user@example.com
              cardTypes: ["Visa", "Mastercard"]
              category: Travel
              promoCode: TRAVEL2025
              subject: "Exclusive Travel Offer"
              message: "Get 20% off on your next booking with TRAVEL2025."
      responses:
        '201':
          description: Notification accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
              example:
                id: "notif_12345"
                type: email
                recipient: user@example.com
                status: pending
                createdAt: "2025-07-25T06:42:00Z"
                error: null
        '400':
          description: Invalid request

    get:
      summary: List sent notifications
      parameters:
        - name: type
          in: query
          description: Filter by notification type
          required: false
          schema:
            type: string
            enum: [email, sms, push]
        - name: status
          in: query
          description: Filter by delivery status
          required: false
          schema:
            type: string
            enum: [pending, sent, failed]
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationResponse'
              example:
                - id: "notif_12345"
                  type: email
                  recipient: user@example.com
                  status: sent
                  createdAt: "2025-07-24T11:00:00Z"
                  error: null
                - id: "notif_12346"
                  type: sms
                  recipient: "+1234567890"
                  status: failed
                  createdAt: "2025-07-24T11:01:00Z"
                  error: "Invalid phone number"

  /notifications/{id}:
    get:
      summary: Get notification status
      parameters:
        - name: id
          in: path
          required: true
          description: Notification ID
          schema:
            type: string
      responses:
        '200':
          description: Notification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
              example:
                id: "notif_12345"
                type: email
                recipient: user@example.com
                status: sent
                createdAt: "2025-07-24T11:00:00Z"
                error: null
        '404':
          description: Notification not found

components:
  schemas:
    NotificationRequest:
      type: object
      required:
        - type
        - to
        - message
      properties:
        type:
          type: string
          enum: [email, sms, push]
        to:
          type: string
          description: Email address, phone number, or device token
        cardTypes:
          type: array
          items:
            type: string
          description: List of applicable card types
        category:
          type: string
          description: Notification category
        promoCode:
          type: string
          description: Promotional code
        subject:
          type: string
          description: Subject line (for email/push notifications)
        message:
          type: string
          description: Main body of the notification

    NotificationResponse:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        recipient:
          type: string
        status:
          type: string
          enum: [pending, sent, failed]
        createdAt:
          type: string
          format: date-time
        error:
          type: string
          nullable: true
