openapi: 3.0.1
info:
  title: Reading List API
  description: This is a sample proxy that manages a list of reading items.
  contact: {}
  version: '1.0'
servers:
  - url: https://apis.bijira.dev/samples/reading-list-api-service/v1.0
paths:
  /books:
    get:
      operationId: listBooks
      tags:
        - books
      summary: List all the reading list books
      description: Retrieve all books from the reading list, including title, author,
        and status.
      responses:
        '200':
          description: A list of books currently in the reading list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  books:
                    type: array
                    items:
                      $ref: '#/components/schemas/models.Book'
    post:
      operationId: createBook
      tags:
        - books
      summary: Add a new book to the reading list
      description: Create a new book entry with author, title, and reading status.
        ID is auto-generated.
      requestBody:
        description: New book details (without ID)
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.BookCreate'
      responses:
        '201':
          description: Book successfully created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/models.Book'
                  - type: object
                    properties:
                      note:
                        type: string
                        example: Please note that changes are not persisted.
        '400':
          description: Invalid book details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ErrorResponse'
        '409':
          description: Book already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ErrorResponse'
components:
  schemas:
    models.Book:
      type: object
      properties:
        author:
          type: string
          example: J. R. R. Tolkien
        id:
          type: string
          example: fe2594d0-ccea-42a2-97ac-0487458b5642
        status:
          type: string
          enum:
            - read
            - to_read
            - reading
          example: to_read
        title:
          type: string
          example: The Lord of the Rings
    models.BookCreate:
      type: object
      properties:
        author:
          type: string
          example: J. R. R. Tolkien
        status:
          type: string
          enum:
            - read
            - to_read
            - reading
          example: to_read
        title:
          type: string
          example: The Lord of the Rings
    utils.ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: error message
